@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Blinker, 'sans serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --transition: all 0.7s ease;
  --yellow: #e3bb05;
  --dark: #052702;
  --black:rgba(0, 0, 0, 0.855);
}
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  
}

body{
  line-height: 1.6;
}
.ban img{
  filter: brightness(50%);
}
.btn{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover{
  opacity: 0.85;
}

h1, h2, h3, h4, h5, h6{
  padding: 8px 0;
}
img{
  width: 100%;
  display: block;
}


/* header */
.header{
  min-height: 100vh;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.head-bottom{
  flex: 1;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.head-bottom h2{
  position: absolute;
  top: 265px;
  left: 580px;
  padding: 22px;
  font-size: 45px;
  border-bottom: 1px solid #fff;
  border-radius: 2px;
  
}
.head-bottom p{
  position: absolute;
  left: 300px;
  top: 370px;
  opacity: 0.7;
  font-size: 20px;
  margin: 45px auto;
  width: 60vw;
}
.head-btn{
 position: absolute;
 top: 570px;
 left: 680px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #fff;
  background: transparent;
  padding: 13px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 18px;
}
.head-btn:hover{
  background: transparent;
}


/** title */
.title{
  position: absolute;
  top: 900px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--yellow);
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
}

.sec-width{
  width: 85vw;
  margin: 0 auto!important;
}

/* service */
.services-container{
  position: absolute;
  top: 980px;
  display: grid;
  grid-template-columns: repeat(2, 650px);
  grid-column-gap: 0px;
}
.services{
  margin: 40px 0px;
  
}
.service{
  display: flex;
    margin: 40px 0px;
}
.service-icon{
  position: relative;
  flex: 35%;
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}
.service-content{
  padding-right: 20px;
}
.service-content h2{
  opacity: 0.7;
  
}
.service-content button{
  margin-left: 0;
  margin-right: 0;
  background: var(--yellow);
  color: #fff;
}


.province{
  position: absolute;
  top: 1570px;
  background: var(--black);
  height: 300px;
  width: 98.9vw;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box{
  width: 135px;
  margin: 0 10px;
  transition: 1s;
}
.box img{
  display: block;
  width:100%;
  border-radius: 5px;
  cursor: pointer;
}
.box:hover{
  transform: scale(1.8);
  z-index: 2;
}

/* footer */
.footer{
  color: #fff;
  text-align: center;
}
.footer-container{
  position: absolute;
  top:1870px;
  background: var(--dark);
  width: 98.9vw;
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-gap: 0px;

}
.footer-container p, .footer-container a, .footer-container span{
  opacity: 0.7;
}
.footer a{
  display: block;
  color: #fff;
  text-decoration: none;
}

.contacticon {
  position: absolute;
  left: 950px;
  }

